<h3>
    {{model.name}}
</h3>
<h4>
    Round: {{model.roundNo}}
</h4>
<div class="time-display">
    <span class="time-unit">
        <div>
            {{model.hours}}
        </div>
    </span>
    <span class="time-divider">:</span>
    <span class="time-unit">
        <div>
            {{model.minutes}}
        </div>
    </span>
    <span class="time-divider">:</span>
    <span class="time-unit">
        <div>
            {{model.seconds}}
        </div>
    </span>
</div>

{{#qr-code id=model.id}}
{{/qr-code}}
